[Desktop Entry]
Name=RustConn
Comment=Manage remote connections easily
Comment[uk]=Зручне керування віддаленими підключеннями
Comment[de]=Fernverbindungen einfach verwalten
Comment[fr]=Gérer facilement les connexions distantes
Comment[es]=Gestionar conexiones remotas fácilmente
Comment[cs]=Snadná správa vzdálených připojení
Exec=rustconn %f
Icon=io.github.totoshko88.RustConn
Terminal=false
Type=Application
Categories=Network;RemoteAccess;
MimeType=application/x-rdp;application/x-virt-viewer;
Keywords=ssh;rdp;vnc;spice;mosh;telnet;zerotrust;connection;terminal;remote;kubernetes;k8s;serial;sftp;
StartupWMClass=io.github.totoshko88.RustConn
